body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
  padding-bottom: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.farrar-logo {
  display: block;
}

.site-name {
  margin-left: 10px;
}

.input-date {
  border-radius: 25px;
  padding: 10px;
}

.input-site {
  border-radius: 250px;
  float: left;
  padding: 10px;
}

.input-site-outer {
  padding: 10px;

}

.input-date-outer {
  display: inline-block;
  position: relative;
  padding: 10px;
  margin-left: 10px;
}
.input-end-date {
  position: relative;
  left: 75px;
}

.input-site-outer {
  display: inline-block;
}

.input-site {
  position: relative;
  left: 150px;
  margin-top: 0px;
  padding: 0px;
}

label {
  margin-top: 20px;
}


.btn.btn-success {
  margin: 0;
  position: relative;
  left: 100px;
}

.submit-button {
  border-radius:50px;
  margin-top: 15px;
}

#SiteIdDropdown {
  border: 2px solid red;
  border-radius: 25px;
}


.table-headers {
  font-size: 13px;
  text-align: center;
}

.single-date.table-date {
  table-layout: fixed;
  width: 100px;
  overflow: hidden;
}

.table-element {
  font-size: 13px;
  text-align: center;
}

.table-element.light-red {
  background-color: #ffb7b5;
}

.single-date {
  font-size: 13px;
}

.main-container {
  justify-content: center;
  padding-top: 30px;

}

.site-drop-down
{
  position: relative;
  display: block;
  width: 20.1em;
	height: 2.7em;
 
}

.site-drop-down-select {
  border-radius: 25px;
  height: 100%;
  width: 100%;
}

.alert.alert-danger {
  display: inline-block;
  margin-top: 50px;
}